<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Tests" parallel="false">

    <test name="Jira Tests">
        <parameter name="browserName" value="Firefox"/>
        <classes>
            <class name="LoginTests"/>
            <class name="Lesson12CreateIssue"/>
            <class name="Lesson12AddCommentTest"/>
        </classes>
    </test>

    <listeners>
        <listener class-name="TestNGListener"/>
    </listeners>

</suite>